{{#bs-button onClick=(action (mut modal3) true)}}Delete record{{/bs-button}}

{{#bs-modal open=modal3 onSubmit=(action "confirmDelete" session) onHidden=(action (mut modal3) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Delete this record?
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    Are you sure? This action cannot be undone.
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
    {{#bs-button type="danger" onClick=(action modal.submit)}}Delete this record{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
