<div class="welcome-div col-md-6">
  <h1>Welcome to Coach!</h1>
  <p>
    Coach is built to help you log your training sessions.
    I should really add more info here, but I'm hitting a blank and dont know
    what to write...

    <hr>

    This should also be styled better... (sorry...)
  </p>

</div>
