@import "ember-bootstrap/bootstrap";

.pad-5 {
  padding: 5px;
}

.align-left {
  float: left;
}


.top-pad-5 {
  padding-top: 5px;
}

.pull-button-right {
  margin-left: 80%;
}

textarea {
  resize: vertical;
}

.border-show {
  border: 2px solid black;
}

.submit-new-session {
  margin-left: 50%;
}

.white-background {
  background-color: white;
  margin: auto;
  width: auto;
}

.new-session-div {
  // width: 75%;
  margin: auto;
  background-color: white;
}

.try-center {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

body {
  background-image:url(https://s3.amazonaws.com/williamcrockettstoragebucket/image.jpg);
}

.view-old-sessions {
  background-color: white;
  opacity: 0.8;
}

.view-session {
  background-color: white;
  opacity: 0.9;
}

.red-asteriks {
  color: red;
}

.welcome-div {
  background-color: white;
  opacity: 0.8;
  align: center;
  margin: 0 auto;
  float: none;
}

.four-oh-four {
  z-index: -999999;
  position: fixed;
  top: 0;
  left: 0;
  // min-width: 100%;
  // min-height: 100%;
  // background:url(https://s3.amazonaws.com/williamcrockettstoragebucket/404.jpg);
  background-image:url(https://s3.amazonaws.com/williamcrockettstoragebucket/404.jpg);
}
