@import "ember-bootstrap/bootstrap";

.pad-5 {
  padding: 5px;
}

.pull-button-right {
  margin-left: 80%;
}

textarea {
  resize: vertical;
}

.border-show {
  border: 2px solid black;
}

.submit-new-session {
  margin-left: 50%;
}

.white-background {
  background-color: white;
  margin: auto;
  width: auto;
}

.new-session-div {
  // width: 75%;
  margin: auto;
  background-color: white;
}

body {
  background-image:url(https://s3.amazonaws.com/williamcrockettstoragebucket/image.jpg);
}

.view-old-sessions {
  background-color: white;
}

.view-session {
  background-color: white;
}

.red-asteriks {
  color: red;
}
