
<img class="four-oh-four" src=https://s3.amazonaws.com/williamcrockettstoragebucket/404.jpg alt="Smiley face" >


<h1>oh no! There's nothing here! Also known as a 404 error!</h1>

{{#link-to 'index' class="btn btn-primary"}}Back to safety!{{/link-to}}
