<div class="view-old-sessions">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Program</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Helm</th>
      </tr>
    </thead>
    <tbody>

  {{!-- {{#link-to 'users'}} --}}
    {{#each model as |session|}}

      <tr>
        <td>{{#link-to 'users'}}{{session.program}}{{/link-to}}</td>
        <td>{{session.session_date}}</td>
        <td>{{session.session_rating}}</td>
        <td>{{session.helm}}</td>
      </tr>

    {{/each}}
  {{!-- {{/link-to}} --}}

  </tbody>
  </table>
</div>
